{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "spaceBeforeFunctionParen": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always"
}
